/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}

form {
  display: flex;
}

input[name="question"] {
  flex: 1;
  padding: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

p {
  margin-bottom: 30px;
}

blockquote {
  background-color: #ffffcc;
  padding: 30px;
  border-radius: 8px;
}

a {
  color: #0056b3;
}

a:hover {
  color: #ff2525;
}
